.user-button {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 60%;
    height: 80%;
    margin-left: 15%;
}

.user-button-profile-picture {
    height: 100%;
}

.user-button-profile-picture div {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.user-button-profile-picture p {
    margin: 0;
    max-height: 100%;
}

.user-button-profile-picture img {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -5%;
    margin-left: 20%;
    height: 120%;
    aspect-ratio: 1;
}

.user-button button {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.user-button button h3 {
    text-align: start;
    margin: 0;
    color: var(--color-grey-300);
}

.user-button button p {
    font-size: 0.8rem;
    text-align: start;
    color: var(--color-grey-400);
    height: 100%;
    margin: 0;
}

.user-button button p span {
    color: var(--color-grey-300);
}
