.dashboard-landing {
    overflow: scroll;
}

.no-show {
    display: none;
}

.show {
    grid-column: span 2;
}

.no-show-button {
    height: 5%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 40%;
}

.no-show-button svg {
    color: var(--color-grey-300);
}

.dashboard-pages {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

/* .dashboard-pages {
    width: 100%;
    height: 100%;
    background-color: var(--color-grey-700);
    display: flex;
    flex-direction: column;
}

.dashboard-landing {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    max-height: 100%;
}

.default-dashboard-graph {
    width: 100%;
    height: 100%;
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
}

.stock-graph {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr, 4fr;
}

.graph-title {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--color-grey-200);
    padding-top: 1rem;
    font-size: 1.5rem;
}

.pie-garph-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr;
    padding-top: 1rem;
    place-items: center;
}

.pie-garph-container div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.pie-garph-container select {
    place-self: start;
    margin-left: 2rem;
    min-width: 25%;
    min-height: 1.5rem;
    background-color: transparent;
    color: var(--color-grey-300);
    border: none;
    border-bottom: 1px solid var(--color-grey-300);
}

option {
    color: var(--color-grey-950);
}

.overall-stats {
    color: var(--color-grey-200);
    padding-left: 2rem;
}

.stat {
    color: var(--color-grey-500);
    width: 25%;
}

.stat p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stat span {
    padding-left: 1rem;
    color: var(--color-grey-300);
}

.profitable-stocks {
    height: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-grey-300);
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
} */
