/* W/L TRADES */

.default-dashboard-graph {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.graph-title {
    color: var(--color-grey-300);
    width: 100%;
    text-align: center;
}

.pie-garph-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pie-garph-container div {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
}

.pie-garph-container h2 {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie-garph-container select {
    margin: 0 auto 4% 0;
}

.overall-stats {
    color: var(--color-grey-300);
    padding: 2rem 0;
}

.overall-stats p {
    display: flex;
    justify-content: space-between;
}

/* PROFITABLE STOCKS */

.stock-graph {
    padding: 0 1rem;
}

.profitable-stocks {
    padding: 1rem 0;
}

@media screen and (min-width: 600px) {
    /* W/L TRADES */

    .pie-garph-container div {
        width: 50%;
    }
    .pie-garph-container select {
        margin-left: 7.5%;
    }

    /* PROFITABLE STOCKS */

    .profitable-stocks {
        width: 75%;
        display: flex;
        justify-content: center;
        margin: 0 auto 0 auto;
    }
}
