.addtrade {
    height: 120vh;
    display: grid;
    grid-template-rows: 1fr repeat(2, 3fr) 6fr 3fr 6fr 2fr;
    place-self: center;
    width: 90%;
    color: var(--color-grey-300);
    overflow: scroll;
}

.addtrade > * {
    height: 100%;
    width: 100%;
}

.addtrade input {
    background-color: transparent;
    color: var(--color-grey-300);
}

.addtrade input {
    color-scheme: dark;
}

.addtrade input::placeholder {
    border: none;
    border-radius: 10px;
    opacity: 0.5;
}

.addtrade-stock-input {
    display: flex;
    align-items: center;
}

.addtrade-stock-input option {
    color: var(--color-grey-300);
}

.addtrade-stock-input select {
    color: var(--color-grey-600);
}

.addtrade-stock-input label {
    padding-right: 3rem;
    font-size: 1.5rem;
}

.addtrade-account-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addtrade-account-input {
    display: flex;
    align-items: center;
}

.addtrade-account-input label {
    padding-right: 3rem;
    font-size: 1.5rem;
}

input#pl:focus {
    outline: none;
}

.addtrade-daytime-inputs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addtrade-daytime-input {
    display: flex;
    align-items: center;
}

.addtrade-daytime-input label {
    padding-right: 3rem;
    font-size: 1.5rem;
}

.addtrade-daytime-input input {
    height: 50%;
}

.addtrade-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addtrade-btn button {
    width: 30%;
    height: 50%;
    background-color: var(--color-grey-500);
    border: none;
    border-radius: 1rem;
    color: var(--color-grey-300);
}

@media screen and (min-width: 1200px) {
    .addtrade {
        grid-template-columns: repeat(2, 4fr);
        grid-template-rows: 5fr 10fr repeat(2, 25fr) 15fr;
        height: 100%;
        width: 80%;
    }

    .addtrade h2,
    .addtrade-btn {
        grid-column: span 2;
    }

    .addtrade-btn button {
        height: 40%;
        width: 25%;
    }
}
